<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div style="text-align:center">
    <a href="#"><img src="assets/img/Logo.png"></a>
</div>
<div *ngIf="!getLoginStatus()" class="container-fluid">
  <div class="row">
      <div class="col-sm-1 col-md-2 col-lg-1"></div>
      <div class="col-sm-5 col-md-5 col-lg-5">
        <div class="borderBox">
          <app-register-form></app-register-form>
        </div>
      </div>
      <div class="verticalLine col-sm-1 col-md-1 col-lg-1"></div>
      <div class="loginForm col-sm-5 col-md-5 col-lg-5">
        <div class="borderBox">
            <app-login-form></app-login-form>
        </div>
      </div>
  </div>
</div>
<div *ngIf="getLoginStatus()">
    <router-outlet></router-outlet>
</div>